body {
    background-color: #2c373c;
    background-image: url("./imagenes/fondo-phone.png");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;

    .underline {
        @include box;
    }
    
    .espacio {
        height: 200%;
    }
    
    .margen {
        height: 100px;
    }

    /*-----------------QUERY----------------- */
        @media only screen and (min-width: 600px) {
        background-image: url("./imagenes/fondo-pc.png");    
    }
}